html, body {
    overflow: hidden;
    background-color: #262626;
}

#main
{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    z-index: 1;
}

#title {
    margin: .1em;
    left: .1em;
    position: absolute;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    color: #ff9a00;
}


/* Media Buttons CSS */
.button.play {
    border-style: solid;
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    border-width: 37px 0px 37px 74px;
    border-color: transparent transparent transparent #202020;
}

.mediabuttons {
    position: absolute;
    left: 42%;
    top: 85%;
}

.mediabutton {
    background: none;
    border: none;
    padding-right: 20px;
    outline: none;
}

.mediabutton:hover {
    color:  #ff9a00;
}

.mediabutton:focus {
    color:  #ff9a00;
}

#hide-tools {
    right: 1%;
    top: 10%;
    position: absolute;
    color:  #ff9a00;
    padding-left: 5px;
    z-index: 2;
    margin-bottom: 15px;
}

#hide-tools:hover {
    cursor: pointer;

}

.mainmenu {
    position: absolute;
    color:  #ff9a00;
    z-index: 2;
}

.mainmenu:hover {
    cursor: pointer;
}

.tools {
    right: -240px;
    top: 8rem;
    position: absolute;
    z-index: 1;
    list-style: none;
}

#buttons {
    width: 200px;
    height: 200px;
}

.menu {
    left: -250px;
    position: absolute;
    z-index: 1;
    list-style: none;
}


/* Dropdown Button */
.toolsbtn {
    padding: 16px;
    font-size: 16px;
}

li {
    padding-bottom: 20px;
}

.future {
    box-shadow:
            inset 0 0 10px #ff9a00,
            0 0 10px #ff9a00;
    background-color:rgba(0, 0, 0, 0.65);
    border: 1px solid #ff9a00;
    color: #ff9a00;
    font-family: 'Exo 2', sans-serif;
}

.future:focus {
    outline: none;
}

.future:hover {
    cursor: pointer;
    display: inline-block;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow:
            inset 0 0 10px #ff9a00,
            0 0 12px #ff9a00,
            -5px 0 20px #ff9a00,
            5px 0 20px #ff9a00;
}

.ui-component {
    z-index: 2;
}

.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow(0px 0px 5px #ff9a00);
    filter: drop-shadow(0px 0px 5px #ff9a00);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*#creategraphbutton:hover {*/
    /*stroke: #ffcb48;*/
/*}*/

.toolMenu {
    z-index: 2;
    position: absolute;
    display: none;
}